/*Add basic design for topnav bar*/
.topnav {
  background-color: red;
  overflow: hidden;
}
/*Add design topnav blocks*/
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*Add color change*/
.topnav a:hover {
  background-color: lightgrey;
  color: black;
}
/*Add color change for activated block*/
.topnav a.activated-choice {
  background-color: black;
  color: white;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
/*Add basic design for introduction*/
#intro {
    margin-top: 30px;
    align-items: center;
}
/*Add design for profile picture*/

.profile-picture {
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 25% 10%;
    margin-bottom: 30px;
}
/*Add design for introduction content*/
.name {
    font-size: 30px;
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

.occupation {
    font-size: 15px;
    color: #434345;
    text-align: center;
}

.location {
    font-size: 13px;
    color: #5c5c5e;
    text-align: center;
}

#greeting-container {
  margin-top: 20px;
}