/*Add basic design for topnav bar*/
.topnav {
  background-color: red;
  overflow: hidden;
}
/*Add design topnav blocks*/
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*Add color change*/
.topnav a:hover {
  background-color: lightgrey;
  color: black;
}
/*Add color change for activated block*/
.topnav a.activated-choice {
  background-color: black;
  color: white;
}

#content {
  margin-left: auto;
  margin-right: auto;
}
/*Add bg animation placement*/
#content #animBg {
    margin-top: 20px;
    place-content: center;
    text-align: center;
    display: flex;
}
/*Add frames to animation*/
#content #animBg .myDIV {
    display: flex;
    width: 300px;
    height: 300px;
    z-index: -1;
    border-radius: 50%;
    background-image: url('./images/merely_cubed.png');
    animation: mymove 5s infinite;
    position: absolute;
}
/*Animation frames*/
@keyframes mymove {
    /*0% {background-position: right;}*/
    50% {background-position: right;}
}

/*Add basic design for introduction*/
#intro {
    align-items: center;
    place-content: center;
}
/*Add design for profile picture*/

.profile-picture {
    margin-top: 75px;
    text-align: center;
    margin-bottom: 75px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 25% 10%;
    margin-bottom: 30px;
}
/*Add design for introduction content*/
.name {
    font-size: 30px;
    color: black;
    margin-bottom: 5px;
    text-align: center;
}

.occupation {
    font-size: 15px;
    color: #434345;
    text-align: center;
}

.location {
    font-size: 13px;
    color: #5c5c5e;
    text-align: center;
}

#greeting-container {
  margin-top: 20px;
}