/* Design for the top navigation bar. */
.topnav {
  text-align: center;
  width: 70px;
  height: 230px;
  position: fixed;
  font-family: Helvetica;
  border: solid  rgba(235, 29, 29) 1px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(1px);
  padding: 14px 0px 7px;
}

/* Design for the navigation bar's blocks. */
.topnav a {
  margin-top: 13px;
  margin-bottom: 13px;
  color: red;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 17px;
}

/* Color change for mouse hover. */
.topnav a:hover {
  width: 70px;
  background-color: rgba(235, 29, 29, 0.3);
  color: red;
}

.display-comments-buttons {
  position: fixed;
  display: initial;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 5px;
  height: 25px;
  width: 170px;
  border: solid rgb(163, 163, 163) 1px;
  backdrop-filter: blur(2px);
  background-color: rgb(255, 255, 255, 0.8);
  color: rgb(116, 116, 116);
  border-radius: 7px;
}

#content {
  font-family: Helvetica;
  margin-left: 80px;
  margin-right: auto;
}

/* Fonts design. */
p {
  color: #434345;
  font-size: 17px;
  text-align: center;
}

ul {
  font-size: 16px;
}

.my-heading {
  font-size: 30px;
  text-align: center
}

/* Background animation placement. */
#content #animBg {
  margin-top: 20px;
  place-content: center;
  text-align: center;
  display: flex;
}

/* Animation frames. */
#content #animBg .myDIV {
  display: flex;
  width: 300px;
  height: 300px;
  z-index: -1;
  border-radius: 50%;
  background-image: url('./images/merely_cubed.png');
  animation: mymove 5s infinite;
  position: absolute;
}

@keyframes mymove {
  50% {background-position: right;}
}

/* Design for introduction. */
#intro {
  align-items: center;
  place-content: center;
}

/* Design for profile picture. */
.profile-picture {
  margin-top: 75px;
  text-align: center;
  margin-bottom: 75px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 25% 10%;
  margin-bottom: 30px;
}

/* Design for the introduction content. */
.name {
  font-size: 30px;
  color: black;
  margin-bottom: 5px;
  text-align: center;
}

.occupation {
  font-size: 15px;
  color: #434345;
  text-align: center;
}

.location {
  font-size: 13px;
  color: #5c5c5e;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

/* Design for cards's container. */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  display: table-cell;
  float: left;
  width: 30%;
  padding: 0 10px;
}

/* Cards design. */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.card img {
  object-fit: cover; 
  width:125px; 
  height:200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.container p {
  font-size: 13px;
}

#link-to-git img {
  width: 25px;
  height: 25px
}

.image-thumbnails {
  text-align: center;
}

/* Pictures preview. */
.image-thumbnails img {
  object-fit: cover;
  width:125px; 
  height:125;
  width: 100px;
  height: 100px;
}

.quote {
  text-align: center;
}

#link-to-git-prof {
  margin-top: 15px;
  display: inline-block;
  margin-left: 0px;
}

#link-to-git-prof img {
  width: 20px
}

.comment-section {
  margin-top: 35px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 450px;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(163, 163, 163);
  backdrop-filter: blur(2px);
  transition: 0.5s;
  text-align: center;
}

#delete-comments-button {
  height: 25px;
  width: auto;
  border: solid rgb(163, 163, 163) 1px;
  background-color: rgb(255, 255, 255, 0.8);
  color: rgb(116, 116, 116);
  border-radius: 7px;
}

.comment-box{
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid rgb(163, 163, 163);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.comment-box #top-section {
  border-bottom: 1px solid rgb(163, 163, 163);
  margin-top: 3px;
  margin-bottom: 3px;
  height: 20px;
}

#name-section {
  width: 45%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  float: left;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(116, 116, 116);
  text-align: left;
}

#name-section placeholder {
  color: rgb(116, 116, 116);
}

#rating-section {
  margin-top: 0px;
  margin-left: 60%;
}

#rating-section select {
  border: none;
}

#rating-section p {
  margin-top: 0px;
  margin-left: 3px;
  float: left;
  font-size: 13px;
  color: rgb(116, 116, 116);
}

#text-section textarea {
  width: 95%;
  height: 200px;
  border-color: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  resize: none;
}

#text-section p {
  width: 95%;
  margin-left: 2.5%;
  height: auto;
  border-color: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  color: rgb(88, 88, 88);
  resize: none;
  text-align: left;
}

#text-section textarea placeholder {
  color: rgb(116, 116, 116);
}

input[type="submit"] {
  margin-right: 20px;
  margin-top: 3px;
  height: 25px;
  float: right;
  border: solid rgb(163, 163, 163) 1px;
  background-color: rgb(255, 255, 255, 0.8);
  color: rgb(116, 116, 116);
  border-radius: 7px;
}

#show-comments-button {
  margin-top: 35px;
}

#show-comments-button select{
  float: left;
  margin-left: 30%;
  height: 25px;
}

button {
  margin-right: 20px;
  height: 25px;
  width: 120px;
  float: right;
  border: solid rgb(163, 163, 163) 1px;
  background-color: rgb(255, 255, 255, 0.8);
  color: rgb(116, 116, 116);
  border-radius: 7px;
}

#simple-comment-field-container {
  margin-top: 65px;
}

#comment-field-table {
  margin-top: 10px;
}

#get-greeting {
  float:initial;
}

.map-section {
  text-align: center;
}

#show-markers {
  float:initial;
  background: rgba(0, 255, 13, 0.3);
}

#show-eclipses {
  float:initial;
  width: 200px;
}

#map {
  margin-top: 10px;
  height: 350px;
  text-align: center;
}

#lat {
  width: 165px;
  height: 25px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
}

#lat placeholder {
  color: rgb(163, 163, 163);
}

#lng {
  width: 165px;
  height: 25px;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
}

#lng placeholder {
  color: rgb(163, 163, 163);
}

#delete-markers {
  margin-top: 10px;
  float: initial;
  width: 200px;
  background: rgba(255, 6, 6, 0.3);
}

.map-section [type="submit"] {
  float: initial;
}
